<div class="cube">
    <a href="/details/{{id}}">
    <img class="cube" src="/static/assets/{{imageUrl}}">
    </a>
    <p class="name"><a href="/details/{{id}}">{{name}}</a></p>
    <p class="price"><span class="price">Цена:</span> {{#if price}}{{price}}лв.{{else}}Безплатно{{/if}}</p>
    <a class="btn" href="/details/{{id}}">Детайли</a>
</div>